<script src="js/login.js" defer></script>
<div id="cont_auth_form">
  <h2>Авторизация</h2>
  <form id="authForm" method="post">
    <div class="form-field">
      <label for="login">Логин:</label>
      <input type="text" id="login" name="login">
      <div class="info" id="login_info"></div>
    </div>
    <div class="form-field">
      <label for="password">Пароль:</label>
      <input type="password" id="password" name="password">
      <div class="info" id="password_info"></div>
    </div>
    <div>
      <button type="submit">Войти</button>
    </div>
  </form>
</div>
<div id="auth_success" style="display:none;"></div>